.activities-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
}
.activity-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.details-container{
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
}