.header-container{
    display: flex;
    align-items: center;
}
.header-icon{
    margin-right: 5px;
    font-size: 30px;
    color: darkblue;
}
.header-text{
    margin-left: 5px;
    font-size: 30px;
    color: darkblue;
}