.question-container{
    margin-top: 50px;
    border: 1px solid darkblue;
    margin-right: 50px;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 25px;
}
@media only screen and (max-width: 768px){
    .question-container {
      margin-right: 0.1px;
    }
  }